

{% set sClasses     = ''   %}

{% if not (aQuestion.templateeditor) %}
    {% set sClasses     = getAllQuestionClasses( aQuestion.qid )     %}
{% endif %}

<!-- Question {{ aQuestion.qid  }}  -->
<div id="question{{ aQuestion.qid }}" class=" row {{ sClasses }} {{ aQuestion.input_error_class }} {{ aSurveyInfo.class.questioncontainer }}" {{ aSurveyInfo.attr.questioncontainer }}>
    {{ include('./subviews/survey/question.twig') }}
</div>
<!-- End of question  {{ aQuestion.qid  }}  -->
