{% set aError     = aSurveyInfo.aError    %}

<!DOCTYPE html>
<html lang="{{ aSurveyInfo.languagecode }}" dir="{{ aSurveyInfo.dir }}" class="{{ aSurveyInfo.languagecode }} dir-{{ aSurveyInfo.dir }} {{ aSurveyInfo.class.html }}" {{ aSurveyInfo.attr.html }}>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {{"Error"| t }}
        </title>
    </head>

    <body  class="{{ aSurveyInfo.class.body }} lang-{{surveylanguage}} {{surveyformat}}" marginwidth="0" marginheight="0" {{ aSurveyInfo.attr.body }}>

    <div class="container">
        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1><span class="fa fa-exclamation text-danger"></span> {{"Error"| t }}</h1>
            <h2>{{ aError.title }}</h2>
            <p class="lead">
                {{ aError.message }}
            </p>
        </div>
    </div>
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-12">
                    <h2>Mida ma teha saan?</h2>
                    <p class="lead">{{gT("Lisainfo saamiseks kontakteeru uuringu administraatoriga %s:")|format (aSurveyInfo.adminname)}}<br>
                    <a href='mailto:{{ aSurveyInfo.adminemail }}'>{{ aSurveyInfo.adminemail }}</p>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>
