{% if(aSurveyInfo.jYesNo) %}
    {{ registerScript('activateConfirmLanguage',"$.extend(LSvar.lang," ~ aSurveyInfo.jYesNo ~ ")", "POS_BEGIN") }}
{% endif %}
{{ registerScript('activateActionLink',"activateActionLink();", "POS_POSTSCRIPT") }}
{{ registerScript('activateConfirmButton',"activateConfirmButton();", "POS_POSTSCRIPT") }}

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ aSurveyInfo.metas }}

    <title>
        {{ aSurveyInfo.options.generalTitle }}
    </title>

    <script type="text/javascript">
        if(window.basicThemeScripts === undefined){
            window.basicThemeScripts = new ThemeScripts();
        }
    </script>
    {# LSvar update with  #}
    {{ registerScript("LSvarTemplateInit","LSvar= LSvar || {};","POS_HEAD") }}
    {% if(aSurveyInfo.options.fixnumauto and aSurveyInfo.options.fixnumauto != "off") %}
        {{ registerScript("LSvarTemplateRealFixNumAuto","LSvar.bFixNumAuto = "~(aSurveyInfo.options.fixnumauto == "enable" ? 1 : 0)~";","POS_HEAD") }}
        {{ registerScript("LSvarTemplateRealNumRealValue","LSvar.bNumRealValue = "~(aSurveyInfo.options.fixnumauto == "disable" ? 1 : 0)~";","POS_HEAD") }}
    {% endif %}
    {{ include('./subviews/header/custom_header.twig') }}

    {{ include('./subviews/header/google_analytics.twig') }}
</head>
