{% if(aSurveyInfo.jYesNo) %}
    {{ registerScript('activateConfirmLanguage',"$.extend(LSvar.lang," ~ aSurveyInfo.jYesNo ~ ")", "POS_BEGIN") }}
{% endif %}
{{ registerScript('activateActionLink',"activateActionLink();", "POS_END") }}
{{ registerScript('activateConfirmButton',"activateConfirmButton();", "POS_END") }}

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ aSurveyInfo.metas }}

    <title>
        {{ aSurveyInfo.options.generalTitle }}
    </title>

    <link rel="shortcut icon" href="{{ aSurveyInfo.oTemplate.sTemplateurl }}files/favicon.ico" />
    <script type="text/javascript">
        if(window.basicThemeScripts === undefined){ 
            window.basicThemeScripts = new ThemeScripts(); 
        } 
    </script>
    {# Ajax mode #}
    {% if(aSurveyInfo.options.ajaxmode == "on") %}
        <script type="text/javascript">
            var ajaxHandler = new AjaxSubmitObject();
            $(document).on('ready pjax:scriptcomplete', function () {
                ajaxHandler.bindActions();
            });
        </script>
    {% endif %}

    {{ include('./subviews/header/custom_header.twig') }}

    {{ include('./subviews/header/google_analytics.twig') }}
</head>
