{# create a shortcut for aSurveyInfo.aNavigator #}
{% set aNavigator = aSurveyInfo.aNavigator %}

<!-- PRESENT THE NAVIGATOR -->
<div class="{{ aSurveyInfo.class.navigatorcontainer }} row navigator space-col" id="{{ aSurveyInfo.id.navigatorcontainer }}" {{ aSurveyInfo.attr.navigatorcontainer }}>

    <!-- Previous button container -->
    <div class="{{ aSurveyInfo.class.navigatorbuttonl }} col-xs-6 text-left" {{ aSurveyInfo.attr.navigatorbuttonl }}>

        {# Previous button must be set to ON in survey settings (and it's not shown in first page, in All in One survey mode, etc) #}
        {% if aNavigator.aMovePrev.show %}
            <!-- Button previous -->
            <button  {{ aSurveyInfo.attr.navigatorbuttonprev }}  class=" {{ aNavigator.disabled }} {{ aSurveyInfo.class.navigatorbuttonprev }} btn btn-lg btn-danger  " >
                << {{ "Previous" | t }}
            </button>
        {% endif %}
    </div>
    <div class="{{ aSurveyInfo.class.navigatorbuttonr }} col-xs-6 text-right">

        {# Next button is not always shown (last page, all in one mode, etc) #}
        {% if aNavigator.aMoveNext.show %}

            {# On last page, Next button become submit button. #}
            {% if aNavigator.aMoveNext.value == "movesubmit" %}
                <!-- Button submit -->
                <button type="submit"  {{ aSurveyInfo.attr.navigatorbuttonsubmit }} class=" {{ aNavigator.disabled }} {{ aSurveyInfo.class.navigatorbuttonsubmit }} btn btn-lg btn-success">
                    {{ "Submit" | t }}
                </button>
            {% else %}
                <!-- Button Next -->
                <button type="submit" {{ aSurveyInfo.attr.navigatorbuttonnext }}  class=" {{ aNavigator.disabled }} {{ aSurveyInfo.class.navigatorbuttonnext }} btn btn-lg btn-success " >
                    {{ "Next" | t }} >>
                </button>
            {% endif %}
        {% endif %}
    </div>
</div>
